body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.animated-text {
    font-size: 2em;
    margin-bottom: 20px;
    animation: text-animation 3s infinite;
}

@keyframes text-animation {
    0% { color: #007BFF; }
    25% { color: #0056b3; }
    50% { color: #007BFF; }
    75% { color: #0056b3; }
    100% { color: #007BFF; }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: auto;
}

.inputs-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.file-display {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #e9ecef;
    margin-right: 10px;
    width: 250px; /* Adjust width as needed */
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.browse-btn {
    padding: 10px;
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.browse-btn:hover {
    background-color: #5a6268;
}

.submit-btn {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #0056b3;
}
